.search-box {
  width: 100%;
  height: calc(1.5em + 1.5rem);
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #55595c;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 1px solid #f06cb4;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
